body{background-color:#D2B48C}
.read table, th, td, tr{
    border: 1px solid black; 
}

.read table{
    border-collapse: collapse;
}

.read th{
    height: 50px;
    text-align: left;
    background-color:#FFFF99

}

.read td{
    height: 50px;
    vertical-align: middle;
    
}

.read th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.read tr:hover{background-color:#CCCCCC}

.read tr:nth-child(even) {background-color: #F08080}
.read tr:nth-child(odd) {background-color: #F08080}

.read tr:nth-child(even) {background-color: #F08080}
.read tr:nth-child(odd) {background-color: #F08080}

.update td {border: none; height: 25px; padding: 10px; font-weight: bold;}

.add td {border: none; height: 25px; padding: 10px; font-weight: bold;}